<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="auth-container">

    <div class="auth-card">

        <h1>
            🌿 Leaf Disease Detection
        </h1>

        <h2>
            Login
        </h2>

        <form action="/login" method="POST">

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <p>
            Don't have an account?
            <a href="/signup">
                Signup
            </a>
        </p>

    </div>

</div>

</body>

</html>